!!!
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/require.js', data-main='js/app', type='text/javascript')
    != "<script type='text/javascript'>"
    != "var appSettings =" + clientSettings + ';'
    != "</script>"
        
  body(id=bodyId)!= body
    script
